<!DOCTYPE html>
<html>
    <head>
        <title>Duh News</title>
    </head>
    <body>
        <div>
            <a href='/'>Back to Home</a>
        </div>
        <hr>
        <form action='/create' method='post'>
            <p>
                Subject : <input type='text' name='subject' />
            </p>
            <textarea name='content' rows='25' cols='75'></textarea>

            <p>
                <input type='submit' value='Submit' />
            </p>
        </form>
    </body>
</html>