<!DOCTYPE html>
<html>
    <head>
        <title>Duh News</title>
    </head>
    <body>
        <div>
            <a href='/{{ bulletin_id }}'>Back to Bulletin</a>
        </div>
        <hr>
        <form action='/{{ bulletin_id }}/comments/create' method='post'>
            <textarea name='content' rows='25' cols='75'></textarea>
            <input type='hidden' name='bulletin_id' value='{{ bulletin_id }}' />

            <p>
                <input type='submit' value='Submit' />
            </p>
        </form>
    </body>
</html>